apiVersion: apps/v1
kind: Deployment
metadata:
  name: ms-auth
  namespace: tutorias
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ms-auth
  template:
    metadata:
      labels:
        app: ms-auth
    spec:
      containers:
        - name: ms-auth
          image: ms-auth:1.0
          ports:
            - containerPort: 4000
          env:
            - name: NODE_ENV
              value: "production"

---
apiVersion: v1
kind: Service
metadata:
  name: ms-auth
  namespace: tutorias
spec:
  selector:
    app: ms-auth
  ports:
    - port: 4000
      targetPort: 4000
      protocol: TCP
  type: ClusterIP
