apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: tutorias
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s

    scrape_configs:
      - job_name: 'ms-auth'
        metrics_path: /metrics
        static_configs:
          - targets: ['ms-auth.tutorias.svc.cluster.local:4000']

      - job_name: 'ms-tutorias'
        metrics_path: /metrics
        static_configs:
          - targets: ['ms-tutorias.tutorias.svc.cluster.local:3000']

      - job_name: 'ms-usuarios'
        metrics_path: /metrics
        static_configs:
          - targets: ['ms-usuarios.tutorias.svc.cluster.local:3001']

      - job_name: 'ms-agenda'
        metrics_path: /metrics
        static_configs:
          - targets: ['ms-agenda.tutorias.svc.cluster.local:3002']

      - job_name: 'ms-notificaciones'
        metrics_path: /metrics
        static_configs:
          - targets: ['ms-notificaciones.tutorias.svc.cluster.local:3003']
